.price {
  display: flex;
  align-items: center;
  justify-content: center;
}

.item {
  position: relative;
  text-align: center;
}

.counter {
  position: absolute;
  top: 0;
  right: 0;
}

.link {
  text-decoration: none;
  color: var(--color-text);
}

@media (hover: hover) {
  .image {
    transition: transform 0.35s linear;

    &:hover {
      transform: scale(1.09);
    }
  }
}