@import '@/scss/abstracts/mixins';

.root {
  @include resetList;
  scroll-snap-type: y mandatory;
}

.item {
  display: grid;
  grid-template-columns: 64px 1fr auto;
  align-items: center;
  min-height: 64px;
  gap: 16px;
  scroll-snap-align: start;

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}

.price {
  display: flex;
  align-items: center;
  gap: 8px;
}

.number {
  transform: translateY(-30px);
}
