:root {
  --color-white: #fff;
  --color-black: #000;
  --bg: #131316;
  --neon: #B5FF3D;
  --modal-bg: #1C1C21;
  --modal-edge: rgba(76, 76, 255, 0.2);
  --accent: #4c4cff;
  --active: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), #4C4CFF;
  --input: #2F2F37;
  --success: #00CCCC;
  --error: #E52B1A;

  --primary-light: #F2F2F3;
  --dark-grey: #8585AD;
  --disabled: #3A3A55;

  --button-normal: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
  --button-active: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);


  --font-family-base: "JetBrains Mono", monospace;
  --font-family-secondary:  "Iceland", sans-serif;
  --font-size-base: 16px;
  --line-height-base: 1.5;
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  font-weight: 400;
  color: var(--primary-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
