:root {
  --header-height: 88px;
  --gutter: 15px;
}

::selection {
  background: var(--dark-grey);
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 var(--gutter);
}

.page {
  display: flex;
  align-items: stretch;
  height: calc(100vh - var(--header-height));
  padding-bottom: 30px;

  .row {
    flex: 1;
  }

  &_center {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y: auto;

    .page__section {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
    }
  }

  &_profile {
    .profile__text {
      opacity: 0.4;
    }
  }

  &_order {
    padding-top: 40px;
  }

  &_modal {
    @media screen and (min-width: 1200px) {
      width: 640px;
      margin: auto;
    }
  }
}

.row {
  width: 100%;
  margin: 0 calc(var(--gutter) * -1);

  @media screen and (min-width: 1200px) {
    display: flex;
  }
}

.d-flex {
  display: flex;
}

.col,
.col-3,
.col-9 {
  padding: 0 var(--gutter);
}

.col {
  flex: 1;
}

.mt-0 {
  margin-top: 0;
}

.m-0 {
  margin: 0;
}

.text-center {
  text-align: center;
}

a {
  color: var(--accent);
  text-decoration: none;
  transition: color var(--transition-duration) var(--transition-function);

  &:hover {
    color: var(--color-text);
  }
}

.menu {
  @include resetList;

  .button {
    display: block;
    padding-left: 0;
  }
}

@media screen and (min-width: 1200px) {
  .col-3 {
    flex: 0 0 28%;
  }

  .col-9 {
    flex: 0 0 72%;
  }

  .page_profile {
    padding-top: 120px;

    .menu {
      margin-bottom: 80px;
    }

    .col-3 {
      padding-right: 0;
    }

    .col-9 {
      padding-left: 60px;
    }
  }
}
