@import '@/scss/abstracts/mixins';

.item {
  text-align: center;
}

.list {
  @include resetList;
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: var(--dark-grey);
}

.value {
  display: block;
  font-family: var(--font-family-secondary), sans-serif;
  font-size: 28px;
}
