.col {
  display: flex;
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: var(--dark-grey);
}

.active {
  color: var(--primary-light);
}

.logo {
  @media screen and (min-width: 1200px) {
    margin-left: 100px;
  }
}

@media (hover: hover) {
  .link:hover {
    text-decoration: underline;
  }
}
