.root {
  min-height: var(--header-height);
  box-shadow: var(--box-shadow1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.col {
  display: flex;
  align-items: center;
}

.link {
  display: inline-flex;
  align-items: center;
  color: var(--primary-light);
}

.inactive {
  color: var(--dark-grey);
}

.logo {
  @media screen and (min-width: 1200px) {
    margin-left: 100px;
  }
}


@media (hover: hover) {
  .link:hover {
    color: var(--dark-grey);
  }
  .inactive:hover {
    color: var(--primary-light);
  }
}